USE [master]
GO
/****** Object:  Database [3P_CHECK_OES]    Script Date: 1/24/2025 3:55:15 PM ******/
CREATE DATABASE [3P_CHECK_OES]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'3P_CHECK_OES', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\3P_CHECK_OES.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'3P_CHECK_OES_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\3P_CHECK_OES_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [3P_CHECK_OES].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [3P_CHECK_OES]
GO
/****** Object:  Table [dbo].[3P_M_PART_NO]    Script Date: 1/24/2025 3:55:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[3P_M_PART_NO](
	[NO] [int] NOT NULL,
	[PART_NO_DENSO] [nvarchar](max) NOT NULL,
	[PART_NO_CUSTOMER] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_3P_M_PART_NO] PRIMARY KEY CLUSTERED 
(
	[NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[3P_M_USER]    Script Date: 1/24/2025 3:55:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[3P_M_USER](
	[NPK] [int] NOT NULL,
	[NAMA] [nvarchar](max) NOT NULL,
	[PASSWORD] [nvarchar](max) NOT NULL,
	[ACCESS] [nvarchar](max) NOT NULL,
	[STATUS] [nvarchar](max) NOT NULL,
	[SECTION] [nvarchar](max) NOT NULL,
	[LINE] [nvarchar](max) NOT NULL,
	[LEADER] [nvarchar](max) NOT NULL,
	[STATUS_USER] [nvarchar](max) NULL,
 CONSTRAINT [PK_3P_M_USER] PRIMARY KEY CLUSTERED 
(
	[NPK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[3P_T_CUST]    Script Date: 1/24/2025 3:55:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[3P_T_CUST](
	[CUSTOMER] [nvarchar](255) NULL,
	[PN_DENSO] [nvarchar](255) NULL,
	[DESCRIPTION] [nvarchar](255) NULL,
	[PN_CUSTOMER] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[3P_T_DATA-BO]    Script Date: 1/24/2025 3:55:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[3P_T_DATA-BO](
	[NO_SIL] [nvarchar](max) NOT NULL,
	[PART_NUMBER] [nvarchar](max) NOT NULL,
	[QUANTITY] [nvarchar](max) NOT NULL,
	[STATUS] [nvarchar](max) NOT NULL,
	[TIME_ENTRY] [nvarchar](max) NOT NULL,
	[CUSTOMER] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[3P_T_DATA-REG]    Script Date: 1/24/2025 3:55:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[3P_T_DATA-REG](
	[NO_SIL] [nvarchar](max) NOT NULL,
	[PART_NUMBER] [nvarchar](max) NOT NULL,
	[QUANTITY] [nvarchar](max) NOT NULL,
	[STATUS] [nvarchar](max) NOT NULL,
	[TIME_ENTRY] [nvarchar](max) NOT NULL,
	[CUSTOMER] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[3P_T_DATA-SIL]    Script Date: 1/24/2025 3:55:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[3P_T_DATA-SIL](
	[NO_SIL] [nvarchar](max) NOT NULL,
	[PART_NUMBER] [nvarchar](max) NOT NULL,
	[QUANTITY] [nvarchar](max) NOT NULL,
	[STATUS] [nvarchar](max) NOT NULL,
	[TIME_ENTRY] [nvarchar](max) NOT NULL,
	[CUSTOMER] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[3P_T_HISTORY]    Script Date: 1/24/2025 3:55:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[3P_T_HISTORY](
	[NO_SIL] [nvarchar](max) NOT NULL,
	[PART_NUMBER] [nvarchar](max) NOT NULL,
	[CUSTOMER_LABEL] [nvarchar](max) NULL,
	[KANBAN_CONTENT] [nvarchar](max) NULL,
	[TOTAL_KANBAN] [nvarchar](max) NULL,
	[TOTAL_LABEL] [nvarchar](max) NULL,
	[LABEL_CONTENT] [nvarchar](max) NULL,
	[QTY_LABEL] [nvarchar](max) NULL,
	[QTY_KANBAN] [nvarchar](max) NULL,
	[CUSTOMER] [nvarchar](max) NULL,
	[ITEM_VENDOR] [nvarchar](max) NULL,
	[PO_NUMBER] [nvarchar](max) NULL,
	[PREPARE_DATE] [nvarchar](max) NULL,
	[PREPARE_TIME] [nvarchar](max) NULL,
	[DELIVERY_DATE] [nvarchar](max) NULL,
	[STATUS] [nvarchar](max) NULL,
	[DATA_ID] [nvarchar](max) NULL,
	[DELIVERY_VANNING] [nvarchar](max) NULL,
	[KANBAN_ID] [nvarchar](max) NULL,
	[MANIFEST] [nvarchar](max) NULL,
	[KANBAN_ITEM] [nvarchar](max) NULL,
	[USER_ENTRY] [nvarchar](max) NULL,
	[CASE_LABEL] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
